<html>
  <head>
    <div style="background-color:lightsteelblue"></div>
    <div class="center jumbotron" style="background-color:aliceblue">
      <h1>+About Us<br><br></h1>
    </head>
  <body>
    <p>Community Cares is community-based and peer-led. Representatives of Community Cares 
    belong to all corners of the university and may be of any age, gender or background--what 
    recruits people to our mission is empathy. We have either "been there" personally or 
    witnessed a loved one's crisis unfold, and we recognize that mental health is not just 
    a concern for those with a diagnosable mental illness. We are not equipped nor intended 
    to offer professional care, rather, we guarantee our empathy, non-judgement, emotional 
    support and shoulder-to-shoulder advocacy.</p>
    
    <h2>+Who We Serve</h2>
    <p>One in four young adults ages 18-24 has a diagnosable mental illness and 
    though over 70% of students living with a mental condition experience a mental 
    health crisis on campus, at least 34% report that their college did not know 
    about their crisis. Suicide is the third leading cause of death on college 
    campuses. More than 80 percent of college students felt overwhelmed by all 
    they had to do in the past year and 45 percent have felt things were hopeless. 
    These crisis are not self-contained, and students need meaningful short and 
    long-term support networks to rely on and feel comfortable approaching.
    </p>
    
    <h2>+Join Us</h2>
    <p>If you are interested in becoming involved with Community Cares, you can't! 
    because we don't exist yet.
    </p>
  </body>
  </div>
</html>