<html>
  <head>
    <div style="background-color:lightsteelblue"></div>
    <div class="center jumbotron" style="background-color:aliceblue">
      <h1>About Community Helps</h1>
    </div>
    </head>
  <body>
    <p>Community Cares is a community-based and peer-led support group.  Representatives of Community Cares belong to
    all corners of the University and is comprised of a variety of people with different ages, genders, and backgrounds.  
    One common trait shared by all Community Cares members is empathy.  We have either 'been there' personally or went through
    a crisis with a loved one and watched it unfold.  We recognize that mental health is not just a concern for those with a
    diagonosable mental condition.  Mental health issues affect friends and families of afflicted persons as well.  </p><br>
    <p>We are not equipped nor intended to offer professional mental health care; rather, we guarantee our empathy in a 
    non-judgemental manner and to provide emotional support and shoulder-to-shoulder advocacy for those who need or want help
    with an issue, problem, or concern.  </p>
  </body>
</html>