<html>
  <body style="background-color:lightsteelblue">
    <div class="center jumbotron" style="background-color:aliceblue">
      <h1>Request an Appointment Here</h1>
        <p>Tell Us A Little Bit About Yourself</p>
    </div>
    <div class="jumbotron">
    <form>
      <div class="form-group">
        <label for="InputFirstName">First Name</label>
        <input type="text" class="form-control" id="InputFirstName" placeholder="Enter First Name">
      </div>
      
      <div class="form-group">
        <label for="InputLastName">Last Name</label>
        <input type="text" class="form-control" id="InputLastName" placeholder="Enter Last Name">
      </div>
      
      <div class="form-group">
        <label for="GenderSelect">Choose Gender</label>
        <select id="GenderSelect" class="form-control">
          <option>Male</option>
          <option>Female</option>
          <option>Rather Not Say</option>
          <option>Undecided</option>
        </select>
      </div>  
      
      <div class="form-group">
        <label for="InputEmail1">Email address</label>
        <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email">
      </div> 
      
      <div class="form-group">
        <label for="InputPhone">Phone Number</label>
        <input type="email" class="form-control" id="exampleInputPhone" placeholder="Enter Phone">
      </div>
      
      <div class="form-group">
        <label for="AssistanceSelect">What Assistance Are You Looking For</label>
        <select id="AssistanceSelect" class="form-control">
           <option>Psychiatrist</option>
           <option>Some One To Talk To</option>
           <option>Helping Hand</option>
           <option>Shrink</option>         
        </select>
      </div>   
     
      <button type="submit" class="btn btn-default">Submit</button>
     
     </form> 
  </body>
</html>