<html>
  <body>
<div class="center jumbotron">
  <h1>COMMUNITY CARES</h1>
  
  Page under construction!!!
  
  <h2>
    This is the home page for the
    
    <a href="http://myboulderpsychologist.com/?gclid=COSTte7M6sQCFQsJaQodxAEAhQ">
      People That Help
    </a>
    
    sample application.
  </h2>  

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center">
<%= image_tag("helplogo.png", alt: "We Care") %>
</div>
</body>
</html>