<html>
  <body>
     <div class="center jumbotron">
       <h1>COMMUNITY CARES</h1>
  
       <h2>
        This is The Place If You Need Help 
  
       </h2>  

     </div>

     <div class="center">
        <%= image_tag("communitycares.png", alt: "We Care") %>
     </div>
    
  </body>    
</html>