/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
    
body {
  background:url("http://rack.0.mshcdn.com/media/ZgkyMDEzLzAxLzE5L2FhL2NvbW11bml0eWdyLjNmZjI4LmpwZwpwCXRodW1iCTEyMDB4NjI3IwplCWpwZw/49214cc6/19a/community-group.jpg");
  background-size: cover;
  min-height: 680px;
  width: 100%;
  opacity: 20%;
  color: #008AB8;
  font-size: 3em;
  padding-bottom: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
  padding-top: 40px;
}

.demo_form.asp input {
  border-style: solid;
}

title {
  color: #008AB8;
  font-size: 5em;
}
head {
    title {
    margin-top:80px;
    }
}

.btn {
  color: white;

}

.navbar-nav {
  li {
      padding: -50px;
      margin: 5px 10px 5px 10px;
      font-size: 1em;
      font: bold;
      color: white;
  }
}



.landing_container {
  background-color: rgba(39, 174, 96, 0.82);
  border-radius: 16px;
  padding: 20px;
  margin: 40px 40px 40px 40px;
  h1 {
    font-weight: bold;
    font-size: 4.3em;
    letter-spacing: -1.5px;
    color: white;
  }
  h2, h3, h4 {
    font-weight: bold;
    font-size: 3.5em;
    letter-spacing: -1.5px;
    color: #336699;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 7px;
    margin-top: 7px;
  }
}

/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */


li::first-letter {
  text-transform: uppercase;
}

blockquote {
  background: #336699;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

header.navbar-inverse {
    color: #336699;
    filter: alpha(opacity=40);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: -5px 0 white, 0 5px white, -5px 0 white, 0 5px white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray;
  text-shadow: -3px 0 #0099FF, -3px 0 #0099FF, -3px 0 #0099FF, -3px 0 #0099FF
}



/* header */



#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.4em;
  color: white;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

#logo:hover {
  color: #336699;
  text-decoration: none;
}

.container {
  background: white;
  opacity: 0.93;
  border-radius: 5px;
}

.container.container-no-bg {
  background: none;
  opacity: 1.0;
}

.simple_form {
  width: 300px;
  
}

.label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

