<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @appointment_request.first_name %>! Welcome to Community Cares</h1>
    <p>
      Thank you for reaching out to us. We have received your information and 
      we will be in touch with you shortly. <br>
    </p>
    <p>-The Community Cares Team</p>
  </body>
</html>