<!DOCTYPE html>
<html>
<head>
  <title>Community Cares</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
      <div class= "center">
       <h1>Welcome Please Make an Appoinment</h1>

         <p>Fill These Out</p>
     </div>
  </body>
</html>