<!DOCTYPE html>
<html>
  <head>
    <title>Community Cares</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>COMMUNITY CARES</h1><br><br>
        Page under construction!!!
      <h2>
       This is the home page for the
       <a href="http://www.dropzone.com/">Skydive Genius</a>
       sample application.
      </h2>  
  
      <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
      </div>

      <%= link_to image_tag("wings.png", alt: "Wingsuiting"),
            'http://i.dailymail.co.uk/i/pix/2014/06/16/article-2659322-1ECF065500000578-476_964x635.jpg' %>
  </body>
</html>



